:root {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

nav a img{
    width: 35px;
}

nav {
    background-color: #383838;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

ul {
    list-style-type: none;
    display: inline-block;
}

li {
    display: inline-block;
    margin-inline: 12px;
}

header {
    text-align: center;
    background-color: #d35266;
    color: white;
    margin: 0;
    padding: 35px;
}

form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

 }

 input {
     border: none;
     height: 30px;
     color: #888888;
 }

 select {
     border: none;
     background-color: white;
 }

 section {
    padding: 5px 250px 5px 250px;
 }

section#section-ads {
    background-color: rgb(233, 243, 189);
}

figure {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

figure img {
    width: 150px;
}
