@font-face {
  src: url(fonts/GothamBold.otf);
  font-family: gotham-bold;
  font-style: normal;
}

@font-face {
  src: url(fonts/GothamRnd-Light.otf);
  font-family: gotham-light;
  font-style: normal;
}

@font-face {
  src: url(fonts/helveticaneue-light-001.ttf);
  font-family: helveticaneue-light;
  font-style: normal;
}

:root {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: gotham-light, sans-serif;
  font-size: smaller;
  line-height: 1.3rem;
  color: #656565;
}

nav a img {
  width: 35px;
}

nav {
  background-color: #383838;
  color: white;
  position: relative;
}

.menu {
  display: flex;
  padding: 0 0 0 95px;
  align-items: center;
}

ul {
  list-style-type: none;
  display: inline-block;
  width: inherit;
}

li {
  display: inline-block;
  margin-inline: 12px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: #d35266;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 75px;
}

.red-btn {
  background: #d35266;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.red-btn:hover {
  background: white;
  color: #d35266;
  border: 1px solid #d35266;
}

.user-pic {
  width: 35px;
  border-radius: 100%;
}

header {
  text-align: center;
  background-color: #d35266;
  color: white;
  padding: 35px;
}
/*
form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1px;
} */

input {
  border: none;
  height: 40px;
  color: #888888;
  font-size: large;
}

select {
  border: none;
  background-color: white;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #888888;
  font-size: large;
}

main {
  background-color: #f6f6f6;
  margin-top: 0;
}

section {
  margin: 12px;
}

.black-btn {
  background-color: #383838;
  color: white;
  height: 43px;
  border: none;
  padding: 0 40px;
  cursor: pointer;
}
/*
 section {
    margin: 0 190px;
}  */

.carts-list {
  margin: auto 150px auto 150px;
}

section#section-ads {
  background-color: white;
  padding: 0 170px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.9);
}

h3 {
  margin-left: 150px;
  color: #656565;
  font-weight: 100;
}

.ads {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  color: #d35266;
  font-weight: 100;
}

.ads figure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 70%;
}

.ads-btn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2px;
  width: 50%;
}

figure img {
  width: 150px;
}

figure.ads-img img {
  width: 350px;
}

.carts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
}

.carts {
  border: 1px solid rgba(228, 228, 228, 0.9);
  background-color: white;
}

.carts-status {
  margin-top: 12px;
}

.used {
  color: #d35266;
}

.from {
}

.add-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  padding: 100px;
  align-items: center;
  grid-gap: 45px;
}

h5 {
  border-bottom: 1px solid #d35266;
  color: #d35266;
}

.cat-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.cat-one {
  display: flex;
  flex-direction: column;
}

.cat-two {
  display: flex;
  flex-direction: column;
}

.cat-one a,
.cat-two a {
  text-decoration: none;
  color: #656565
}

.cat-one a:hover {
  color: #d35266;
}