:root {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

nav a img{
    width: 35px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

ul {
    list-style-type: none;
    display: inline-block;
}

li {
    display: inline-block;
    margin-inline: 12px;
}

header {
    text-align: center;
    background-color: indianred;
    color: white;
    margin: 0;
    padding: 35px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

 }

 form {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 1px;
 }

 input {
     border: none;
     height: 30px;
     color: gray;
 }

 select {
     border: none;
     background-color: white;
 }